# 1. Залежності та важкі компоненти (їх сервер завантажить сам)
node_modules/

# 2. Папки, куди компілятор складає готовий код (наприклад, tsc)
dist/
build/
out/

# 3. НАЙГОЛОВНІШЕ: Локальні змінні та СЕКРЕТИ (Паролі, токени БД)
.env
.env.local
.env.development
.env.production

# 4. Логи помилок (щоб не тягати текстові логи за собою)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 5. Сміття операційних систем (Те, що генерує Макбук або Вінда для файлів)
.DS_Store
Thumbs.db

# 6. Конфіги редакторів і IDE (шляхи до твого VS Code)
.vscode/
.idea/
